<div class="container">
    <div>
        <label>{{doctor?.id}}</label>
        <table>
            <tr>
                <td>PatientId</td>
                <td>
                    <select [(ngModel)]="appointment.patientId" >
                        <option *ngFor="let patient of patientsForDoctor" value={{patient.id}}>{{patient.name}} {{patient.surname}}</option>
                    </select>
                </td>
                <td *ngIf="patNull">Choose patient</td>
                
            </tr>
            <tr>
                <td>Day</td>
                <td><input type="date" matInput [(ngModel)]="appointment.startDate"></td>
                <td *ngIf="dateNull">Choose date</td>
                <td *ngIf="dateInPast">Pichadill</td>
            </tr>
            <tr>
                <td>Start</td>
                <td><select matNativeControl [(ngModel)]="appointment.startTime">
                        <option *ngFor="let item of arrayForShift">{{item}}</option>
                    </select>
                </td>
                <td *ngIf="timeNull">Choose time</td>
            </tr>
            <tr>
                <td></td>
                <td><button mat-stroked-button (click)="createAppointment()">
                    Submit
                </button></td>
            </tr>
        </table>
        <label>{{errorMsg}}</label>
    </div>
</div>