<div id="stepone" class="w-[500px]">
  <div>
    <div class="mb-5 mt-10 ">
      <div class="flex items-center space-x-3 mb-5">
        <div *ngFor="let symptom of symptomsList" class="">
          <label class="mr-2 text-[20px] font-normal">{{symptom.name}}</label>
          <input class="h-5 w-5" type="checkbox" id={{symptom.name}} value={{symptom.name}} [(ngModel)]="symptom.isChecked" >
        </div>
        
      </div>
      <!-- <label formArrayName="symptoms" *ngFor="let symptom of symptomsFormArray.controls;let i = index">
        <input type="checkbox" [formControlName]="i">
        {{symptomsList[i].name}}
        
      </label> -->
      
      
    
    <!-- Ide neko ime,a vrv i ngFor zbog liste -->
    
    <div class="">
      <button class="w-20 h-10 mr-20 border-4 border-solid border-red-500 bg-red-200">BACK</button>
      <button class="w-20 h-10 border-4 border-solid border-green-500 bg-green-200 " (click)="submit()">NEXT</button>
    </div>
  </div>
</div>