<!-- <div class="container">
    <div  >
        <h2>Create treatment</h2>
        <form #createForm="ngForm" (ngSubmit)="onTreatmentCreate(createForm.value)">
            <label>Doctor id</label>
            <input type="text" name="doctorId" ngModel >
            <br>
            <label>Patient</label>
            <input type="text" name="patientId" ngModel >
            <br>
            <label>Room</label>
            <select   name="roomId" (change)="freeBed($event)" ngModel>
                <option *ngFor="let item1 of listOfRooms">{{item1}}</option>
            </select>
            <br>
            <label>Bed</label>
            <select  name="bedId" ngModel>
                <option *ngFor="let item2 of listOfBeds">{{item2}}</option>
            </select>
            <br>
            <br>
            <label>Reason</label>
            <input type="text" name="reason" ngModel >
            <br>
            <br>
            <label>Therapy</label>
            <input type="text" name="therapy" ngModel >
            <br>
            <br>
            <input type="submit" value="Create">
        </form>
    </div>
</div> -->

<div class="container">
    <div>
        <navbar></navbar>
        <sidebar [patientTreatmentsBool]="true"></sidebar>
    </div>
    <div class="ml-[310px] mt-[84px]">
        <div class="w-1/2">
            <div class="flex mb-2">
                <div class="basis-1/3">
                    PatientId:
                </div>
                <div class="basis-1/3">
                    <input  matInput [(ngModel)]="treatment.patientId" class="w-full">
                </div>
                <div *ngIf="patientIdNull" class="basis-1/3 text-[#fb2930]">
                    Choose patient
                </div>
            </div>
            <div class="flex mb-2">
                <div class="basis-1/3">
                    RoomId:
                </div>
                <div class="basis-1/3">
                    <select class="w-full" [(ngModel)]="treatment.roomId" (change)="freeBed($event)">
                        <option>null</option> 
                        <option *ngFor="let item of listOfRooms">{{item}}</option>
                    </select>
                </div>
                <div *ngIf="roomIdNull"  class="basis-1/3 text-[#fb2930]">
                    Choose room
                </div>
            </div>
            <div class="flex mb-2">
                <div class="basis-1/3">
                    BedId:
                </div>
                <div class="basis-1/3">
                    <select class="w-full" [(ngModel)]="treatment.bedId">
                        <option>null</option> 
                       <option *ngFor="let item1 of listOfBeds">{{item1}}</option>
                   </select>
                </div>
                <div *ngIf="bedIdNull" class="basis-1/3 text-[#fb2930]">
                    Choose bed
                </div>
            </div>
            <div class="flex mb-2">
                <div class="basis-1/3">
                    Reason:
                </div>
                <div class="basis-1/3">
                    <input class="w-full" [(ngModel)]="treatment.AdmissionReason">
                </div>
                <div *ngIf="reasonNull" class="basis-1/3 text-[#fb2930]">
                    Choose reason
                </div>  
            </div>
            <div class="flex mb-2">
                <div class="basis-1/3">
                    Therapy:
                </div>
                <div class="basis-1/3">
                    <input class="w-full" [(ngModel)]="treatment.Therapy"> 
                </div>
                <div *ngIf="therapyNull" class="basis-1/3 text-[#fb2930]">
                    Choose therapy
                </div>
            </div>
            <div class="grid place-content-end">
                <div class="flexs">
                    <button class="w-20 h-10 border-black border-2 rounded-md bg-white hover:bg-gray-300 mr-2" (click)="back()">
                        Back
                      </button>
                    <button class="w-20 h-10 border-black border-2 rounded-md bg-[#57CC99] hover:bg-[#429b75]" (click)="createTreatment()">
                      Submit
                    </button>
                </div>
                
            </div>
        </div>
    </div>
</div>
