<div style='margin-left:10%;margin-bottom:5%;margin-top:3%'>
    <label>Appointments to show: </label>
    <select [(ngModel)]="appointmentType" (change)="filterAppointments($event)">
        <option value="-1">All</option>
        <option value="0">Scheduled</option>
        <option value="1">Finished</option>
    </select>
    <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
    Filter: <input type="date" [(ngModel)]="filterDate" (change)="filterAppointmentsByDate($event)">
    <select name="filter" id="filter"[(ngModel)]="typeDate">
        <option value="day">Day</option>
        <option value="week">Week</option>
    </select>
    
</div>


<table cellspacing="0">
    <tr>
        <th>Patient</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>Room</th>
        <th>Duration</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>

    </tr>
    <tr *ngFor="let app of appointmentsToShow">
        <td>{{app.patientId}}</td>
        <td>{{app.date}}</td>
        <td>{{app.startTime}}</td>
        <td>{{app.roomNumber}}</td>
        <td>20 minutes</td>
        <td>
            <button ng-disabled="!app.cancellable" class="reschedule-button" (click)="onRescheduleClicked(app.id)">
                Reschedule
            </button>
        </td>
        <td>
            <button  class="cancel-button" [disabled]="" (click)="cancelled(app.id)">
                Cancel
            </button>
        </td>
        <td *ngIf="app.status==1">
            <button  class="cancel-button" [disabled]="" (click)="writeReport(app.id)">
                Write report
            </button>
        </td>
        <td *ngIf="app.status==1">
            <button  class="cancel-button" [disabled]="" id="review" (click)="reviewReport(app.id,app.patientId)">
                Review report
            </button>
        </td>
    </tr>
</table>
