<div>
    <div>
        <navbar></navbar>
        <sidebar [patientHealthMeasurementsBool]="true"></sidebar>
    </div>
    <div class="ml-[310px] mt-[84px]">
        <body>
            <h1>Patient's monthly health statistics</h1>
            <p>Select a month:</p>
            <select name="month" id="month" [(ngModel)]="selectedMonth" (change)="onMonthOrPatientChange($event)" class="border-gray-300 border-2 rounded-md ">
                <option value=""></option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
            <p>Select a patient:</p>
            <select name="patientId" id="patientId" [(ngModel)]="selectedPatient" (change)="onMonthOrPatientChange($event)" class="border-gray-300 border-2 rounded-md">
                <option value=""></option>
                <option *ngFor="let patient of doctorsPatients" value={{patient.id}}>{{patient.id + " - " + patient.name + " " + patient.surname}}</option>
            </select>
            <h2>Patient's monthly weight</h2>
            <canvas id="patientMonthlyWeight"></canvas>
            <h2>Patient's monthly upper blood pressure</h2>
            <canvas id="patientMonthlyUpperBloodPressure"></canvas>
            <h2>Patient's monthly lower blood pressure</h2>
            <canvas id="patientMonthlyLowerBloodPressure"></canvas>
            <h2>Patient's monthly heartbeats</h2>
            <canvas id="patientMonthlyHeartbeat"></canvas>
            <h2>Patient's monthly temperature</h2>
            <canvas id="patientMonthlyTemperature"></canvas>
            <h2>Patient's monthly blood sugar levels</h2>
            <canvas id="patientMonthlyBloodSugarLevel"></canvas>
        </body>        
    </div>
</div>