<div>
  <div>
    <navbar></navbar>
    <sidebar [searchReportsAndPrescriptionsBool]="true"></sidebar>
  </div>
  <div class="ml-[290px] mt-[84px]">
    <div class="px-5 ">
      Pretrazi: <input type="text" class="ml-5 mb-5 border-2 border-[#22577A] rounded-lg text-center"/>
    </div>
    <div class="flex mb-5 ml-5">Izaberi filter:
      <select class="bg-[#38A3A5] ml-5">
        <option>Report</option>
        <option>Prescription</option>
      </select>
    </div>
    <div class="p-5">Rezultat pretrage:</div>
    <table class="table ml-5">
      <tr class="border-2 border-gray-300 ">
        <td class=" w-40 text-center">Ime</td>
        <td class=" w-40 text-center">Dodatni info</td>
      </tr>
      <tr>
        <td class=" w-40 ">proba</td>
        <td class=" w-40">proba info</td>
      </tr>
      <tr>
        <td class=" w-40 ">proba</td>
        <td class=" w-40">proba info</td>
      </tr>
    </table>
  </div>
</div>
