<div>
  <div class="flex ">
    <label>Pacijent info</label>
    <input type="checkbox"/>
    <label>Simptomi</label>
    <input type="checkbox"/>
    <label>Opis</label>
    <input type="checkbox"/>
    <label>Lekovi</label>
    <input type="checkbox"/>
  </div>
  <div>
    <show-report-patient></show-report-patient>
    <show-report-symptoms></show-report-symptoms>
    <show-report-desciption></show-report-desciption>
    <show-report-drugs></show-report-drugs>
  </div>
  <div>
    <button class="border" (click)="check()">Napravi</button>
  </div>
</div>