.container {
  width: 50%;
  margin: auto;
  margin-top: 50px;
<<<<<<< HEAD
  border-style: ridge;
  border-width: 5px;
  border-color: gray;
  background-color: mistyrose;
=======
  border-radius: 3px;
  border: #DCD6CC 1px solid;
  background-color: lightgray;
>>>>>>> doctor_development
}


table {
  width: 100%;
<<<<<<< HEAD
  background-color: mistyrose;
=======
  background-color: lightgray;
>>>>>>> doctor_development
}

.table-title {
  padding-bottom: 20px;
  padding-top: 30px;
  padding-left: 20px;
  font-size: 30px;
<<<<<<< HEAD
  font-family: Verdana;
  font-weight: bold;
}

.cell-style {
  text-align: left;
  font-family: Verdana;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.column-header {
  text-align: left;
  font-family: Verdana;
  font-size: 22px;
=======
  font-weight:bold;
}

.cell-center {
  text-align: center;
  font-size: 22 px;
>>>>>>> doctor_development
}

.table-header {
  display: flex;
<<<<<<< HEAD
  text-align: center;
  color: dimgray;
=======
  color: forestgreen;
  border-color:dimgray;
>>>>>>> doctor_development
}

p {
  float: left;
  margin-right: auto;
}

th {
<<<<<<< HEAD
  color: dimgray;
  font-family:Verdana;
  font-weight: bold;
  border-style:none;
}

tr.mat-row:hover{
    background-color: lightgrey;
}

td.mat-cell {
    border-bottom-style: none;
    border-top: 1px ridge darkgray;

}

th.mat-header-cell{
    border-bottom-style: none;
}

.approval-button {
  background-color: dimgray;
=======
  text-decoration: underline;
  text-decoration-color: lightgreen;
  font-weight: bold;
}

.approval-button {
  background-color: forestgreen;
>>>>>>> doctor_development
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border: 20px;
<<<<<<< HEAD
  font-size: 20px;
  font-family: Verdana;
  border-radius: 8px;
  color: floralwhite;
}

.hide-button {
  background-color: dimgray;
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  margin-left: auto;
  font-family: Verdana;
  margin-right: auto;
  display: flex;
  border: 20px;
  font-size: 20px;
  border-radius: 8px;
  color: floralwhite;
}

.approval-button:hover {
  background-color: darkgray;
=======
  font-size: 23px;
  border-radius: 8px;
  color: cornsilk;
}

.hide-button{
  background-color: forestgreen;
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border: 20px;
  font-size: 23px;
  border-radius: 8px;
  color: cornsilk;
}

.approval-button:hover {
  background-color: white;
>>>>>>> doctor_development
  color: black;
}

.hide-button:hover {
<<<<<<< HEAD
  background-color: darkgray;
=======
  background-color: white;
>>>>>>> doctor_development
  color: black;
}




