<mat-toolbar color="primary">
  <span>Welcome, Doctor!</span>
  <div class="spacer"></div>
  <a mat-button href='/doctor-home'>Home</a>
  <a mat-button href='/show-consiliums'>Consiliums</a>
  <a mat-button href='/bloodRequest'>Blood requests</a>
  <a mat-button href='/bloodRecord/add'>Blood record</a>
  <a mat-button href='/vacations-by-doctor'>Vacations</a>
  <a mat-button href='/patients/treatments'>Patient treatments</a>
  <a mat-button href='/patient-statistics'>Patient statistics</a>
  <a mat-button href='/appointments'>Appointments</a>
  <a mat-button href='/'>Log Out</a>
</mat-toolbar>
