
<mat-toolbar color="primary">
  <span>Welcome, Doctor!</span>
  <div class="spacer"></div>
  <a mat-button name="home" href='/doctor-home'>Home</a>
  <a mat-button name ="consiliums" href='/show-consiliums'>Consiliums</a>
  <a mat-button name = "bloodRequests" href='/bloodRequest'>Blood requests</a>
  <a mat-button name = "bloodRecord" href='/bloodRecord/add'>Blood record</a>
  <a mat-button name = "vacations" href='/vacations-by-doctor'>Vacations</a>
  <a mat-button name = "patientTreatments" href='/patients/treatments'>Patient treatments</a>
  <a mat-button name = "patientStatistics" href='/patient-statistics'>Patient statistics</a>
  <a mat-button name = "appointments" href='/appointments' id="appointments">Appointments</a>
  <a mat-button name = "logout" href='/'>Log Out</a>
</mat-toolbar>
