body {
  background: transparent;
  overflow: hidden;
  font-family: Calibri;
  background-image: url(/assets/login.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  color: rgb(11, 26, 62);
  font-stretch: ultra-condensed;
  margin-top: 5%;
  font-size: 300%;
  font-weight: 200;
}

.login_container {
  margin: 5% auto;
  border-radius: 15px;
  width: 28%;
  height: 60%;
  background-color: rgb(11, 26, 62);
  background-image: linear-gradient(to right, rgb(179, 218, 255), rgb(11, 26, 62));
  border: 3px solid;
  border-color: rgb(217, 214, 211);
  color: rgb(255, 255, 255);
  line-height: 30px;
  font-size: 18px;
}

.block {
  width: 90px;
  display: inline-block;
  text-align: left;
}

.input-block {
  width: 200px;
  display: inline-block;
  font: 16px Calibri;
  padding: 2px 2px;
}


.btn {
  color: rgb(11, 26, 62);
  font: bold 16px Calibri;
  padding: 10px 25px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  border: none;
  margin: 20px;
}

  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  }

  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }






