<div>
  <report-nav-page></report-nav-page>
  <report-step-one (symptomsToReturn)="onSymptomsChoosen($event)" *ngIf="stepOne"></report-step-one>
  <report-step-two (descriptionEmit)="descriptionWritten($event)" *ngIf="stepTwo"></report-step-two>
  <report-step-three *ngIf="stepThree"></report-step-three>
  <report-step-four *ngIf="stepFour"></report-step-four>
  <div>{{appointmentId}}</div>
  <div *ngFor="let sym of symptomsArray">
    {{sym.name}}
  </div>
  <div>
    {{description}}
  </div>
</div>