<div>
  <div>
    <navbar></navbar>
    <sidebar [appointmentsBool]="true"></sidebar>
  </div>
  <div class="ml-[310px] mt-[84px]">
    <div>
      <report-nav-page [recieveFlag]="navBarFlag" ></report-nav-page>
      <report-step-one   (symptomsToReturn)="onSymptomsChoosen($event)" *ngIf="stepOne" [reportId]="reportId" [checkedSymtpoms]="symptomsArray"></report-step-one>
      <report-step-two   (backEmit2)="backFromStep2($event)"(descriptionEmit)="descriptionWritten($event)" *ngIf="stepTwo" [reportId]="reportId" [savedDescription]="description"></report-step-two>
      <report-step-three (backEmit3)="backFromStep3($event)"  (drugsToReturn)="onDrugsChoosen($event)"       *ngIf="stepThree" [reportId]="reportId" [checkedDrugs]="drugsArray"></report-step-three>
      <report-step-four  (backEmit4)="backFromStep4($event)"            *ngIf="stepFour" [description]="description" [symptoms]="symptomsArray" [drugs]="drugsArray" [reportId]="reportId"></report-step-four>
    </div>
  </div>
</div>