<body>
    <form>
      <table class="card">
        <tr>
          <td align="center">
            <div>
                <p>Amount of A type blood in liters:</p>
                <input type="number" name="amountOfA" [(ngModel)]="tndr.amountOfA">
            </div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <div>
              <p>Amount of B type blood in liters:</p>
              <input type="number" name="amountOfB" [(ngModel)]="tndr.amountOfB">
            </div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <div>
              <p>Amount of AB type blood in liters:</p>
              <input type="number" name="amountOfAB" [(ngModel)]="tndr.amountOfAB">
            </div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <div>
              <p >Amount of O type blood in liters::</p>
              <input type="number" name="amountOfO"  [(ngModel)]="tndr.amountOfO">
            </div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <div>
              <p>Expiration date:</p>
              <input type="date" name="expiration" class="block" [(ngModel)]="tndr.expiration">
            </div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <button class="btn" (click)="post()" >Create tender</button>
          </td>
        </tr>
      </table>
    </form>
  </body>
