<div class="container">
    <h1>Patient {{patient.name + " " patient.surname}}</h1>
    <label for="">email</label>
    <input type="text" [(ngModel)]="patient.email" disabled>
    <br>
    <label for="">gender</label>
    <input type="text" [(ngModel)]="patient.gender" disabled>
    <br>
    <label for="">age</label>
    <input type="text" [(ngModel)]="patient.age" disabled>
    <br>
    <label for="">blood type</label>
    <input type="text" [(ngModel)]="patient.bloodType" disabled>
    <br>
    <label for="">allergies</label>
    <select matNativeControl>
        <option *ngFor="let allergy of patient.allergies">{{allergy}}</option>
    </select>
    <br>
    <label for="">doctorId</label>
    <input type="text" [(ngModel)]="patient.doctorId" disabled>
</div>