<div class="container">
    <div>
        <navbar></navbar>
        <sidebar [appointmentsBool]="true"></sidebar>
    </div>
    <div class="ml-[310px] mt-[84px]">
        <h2>Reschedule appointment</h2>
        <form>
            <table>
                <tr>
                    <td><label for="AppointmentId">Appointment ID:</label></td>
                    <td>{{chosenAppointment.id}}</td>
                </tr>
                <tr>
                    <td><label for="PatientId">Patient ID:</label></td>
                    <td>{{chosenAppointment.patientId}}</td>
                </tr>
                <tr>
                    <td><label for="AppointmentDate">Date:</label></td>
                    <td>
                        <input type="date" name="appointmentDate" [(ngModel)]="chosenAppointment.date">
                    </td>
                </tr>
                <tr>
                    <td><label for="AppointmentTime">Start time:</label></td>
                    <td>
                        <select name="appointmentTime" [(ngModel)]="chosenAppointment.time">
                            <option value=""></option>
                            <option *ngFor="let time of arrayForShift">{{time}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <button name="submit" (click)="onAppointmentRescheduled()">Reschedule</button>
                </tr>
            </table>
        </form>
    </div>
</div>