<div>
    <div>
        <navbar></navbar>
        <sidebar [consiliumsBool]="true"></sidebar>
    </div>
    <div class="ml-[310px] mt-[84px]">
        <table class="w-2/3">
            <tr class="h-14">
                <th class="select-none font-normal text-white bg-[#22577A] w-1/12">Start</th>
                <th class="select-none font-normal text-white bg-[#22577A] w-1/12">Duration</th>
                <th class="select-none font-normal text-white bg-[#22577A] w-1/12">Room</th>
                <th class="select-none font-normal text-white bg-[#22577A] w-1/12">Topic</th>
                <th class="select-none font-normal text-white bg-[#22577A] w-1/12">Doctor names</th>
            </tr>
            <tr *ngFor="let consilium of consiliumsToShow" class="h-14">
                <td class="border-black border-2 border-t-0 text-center">{{consilium.start}}</td>
                <td class="border-black border-2 border-t-0 text-center">{{consilium.duration}}</td>
                <td class="border-black border-2 border-t-0 text-center">{{consilium.room}}</td>
                <td class="border-black border-2 border-t-0 text-center">{{consilium.topic}}</td>
                <td class="border-black border-2 border-t-0 text-center">
                    <button class="border-2 h-10 w-full bg-[#57CC99] hover:bg-[#379c70]"  (click)="showDoctors(consilium)" (click)="show = true">
                        See doctors
                    </button>
                </td>
            </tr>
        </table>
        <div *ngIf="show">
            <p>Doctors:</p>
            <ol *ngFor="let names of doctorsNames">
                <li>
                    {{names}}
                </li>
            </ol>
        </div>
        <div class="fixed max-w-xs h-16 top-20 right-3 px-2 rounded-md bg-[#57CC99] hover:bg-[#379c70]" (click)="goToCreate()">
            <div class="mt-4" id="goToCreate" >
                Create new consilium
            </div>
        </div>
        
    </div>
</div>

