<div>
    <div>
        <navbar></navbar>
        <sidebar [consiliumsBool]="true"></sidebar>
    </div>
    <div class="ml-[310px] mt-[84px]">
        <div>
            <label>Consiliums to show: </label>
            <!-- <app-search-2 (searchTextChanged)="onSearchTextEntered($event)"></app-search-2> -->
        </div>
        
        <table class="border-black border-2 mt-4">
            <tr class="border-black border-2 w-10">
                <th class="border-black border-2 w-28">Start</th>
                <th class="border-black border-2 w-28">Duration</th>
                <th class="border-black border-2 w-28">Doctor names</th>
                <th class="border-black border-2 w-28">Room</th>
                <th class="border-black border-2 w-28">Topic</th>
            </tr>
            <tr *ngFor="let consilium of consiliumsToShow" class="border-black border-2 w-10">
                <td class="border-black border-2 w-28">{{consilium.start}}</td>
                <td class="border-black border-2 w-28">{{consilium.duration}}</td>
                <td class="border-black border-2 w-28"><button type="button" (click)="showDoctors(consilium)" (click)="show = true">See doctors</button></td>
                <td class="border-black border-2 w-28">{{consilium.room}}</td>
                <td class="border-black border-2 w-28">{{consilium.topic}}</td>
            </tr>
        </table>
        <div *ngIf="show">
            <p>Doctors:</p>
            <ol *ngFor="let names of doctorsNames">
                <li>
                    {{names}}
                </li>
            </ol>
        </div>
        <button class="border-gray-400 bg-[#38A3A5] w-44 h-16 rounded-xl mt-8" id="goToCreate" (click)="goToCreate()">Create new consilium</button>
    </div>
</div>

