<div>
  <div>
    <navbar></navbar>
    <sidebar [searchBloodBanksBool]="true"></sidebar>
  </div>
  <div class="ml-[290px] mt-16">
    <div class="px-5 pt-5">
      Pretrazi: <input type="text" class="ml-5 mb-5 border-2 border-[#22577A] rounded-lg text-center"/>
    </div>
    <div class="flex">
      <button class="ml-5 bg-[#C7F9CC] hover:bg-[#98db9f] w-20 h-10">Vrati se</button>
      <button class="ml-5 bg-[#57CC99] hover:bg-[#429b75] w-20 h-10">Pretrazi</button>
    </div>
    <div class="p-5">Rezultat pretrage:</div>
    <table class="ml-5">
      <tr class="border-2 border-gray-300 ">
        <td class=" w-40 text-center">Ime</td>
        <td class=" w-40 text-center">Dodatni info</td>
      </tr>
      <tr>
        <td class=" w-40 ">proba</td>
        <td class=" w-40">proba info</td>
      </tr>
      <tr>
        <td class=" w-40 ">proba</td>
        <td class=" w-40">proba info</td>
      </tr>
    </table>
  </div>
</div>
