<div>
  <div>
    <navbar></navbar>
    <sidebar [searchBloodBanksBool]="true"></sidebar>
  </div>
  <div class="ml-[290px] mt-[84px]">
    <table class="ml-5  w-2/3">
      <tr class="h-14">
        <td class="select-none font-normal text-white bg-[#22577A] w-1/4 text-center">Id</td>
        <td class="select-none font-normal text-white bg-[#22577A] w-1/4 text-center">Email</td>
      </tr>
      <tr *ngFor="let bank of bloodBanks" class="h-14">
        <td class="border-black border-2 border-t-0 text-center">{{bank.id}}</td>
        <td class="border-black border-2 border-t-0 text-center">{{bank.email}}</td>
      </tr>
    </table>
  </div>
</div>
