<div id="content" #content>
 <table cellspacing="0">
    <tr>
        <th>Patient</th>
        <th>Room</th>
        <th>Bed</th>
        <th>Therapy</th>
        <th>Start</th>
        <th></th>
        <th></th>
        
    </tr>
  
    <tr *ngFor="let treatment of treatmentsToShow">
        <td>{{treatment.id}}</td>
        <td>{{treatment.room}}</td>
        <td>{{treatment.bed}}</td>
        <td>{{treatment.therapy}}</td>
        <td>{{treatment.startDate}}</td>
        <td>
            <button  class="discharge-button" (click)="discharge(treatment.id)">
                Discharge
            </button>
        </td>
        <td>
            <button  class="update-button" (click)="update(treatment.id)">
                Update
            </button>
        </td>
        
    </tr> 
   
        
    
 </table>
</div>
