table {
    width: 80%;
    margin: auto;
    text-align: center;
}

table tr:first-child {
    background-color: #1a66ff;
    color: white;
}

td, th {
    text-align: center;
    font-weight: 200;
}

tr {
    height: 60px;
    background-color: #ccddff;
    transition: .2s ease;
}

tr:hover {
    background-color: #b3ccff;
    cursor: pointer;
}

button {
    padding: 5px 10px;
    border-radius: 4px;
    background-color: white;
}

button:hover {
    cursor: pointer;
    transition: all 0.3s ease;
}

.reschedule-button {
    color: white;
    background-color: #1a66ff;
    border: 2px solid #1a66ff;
}

.reschedule-button:hover {
    color: #1a66ff;
    background-color: white;
}

.cancel-button {
    border: 2px  red solid;
    color: red;
}

.cancel-button:hover {
    color: white;
    background-color: red;
}

@media screen and (max-width: 768px){
    .table {
        width: 95%;
    }
}