<div id="content" #content>
 <table cellspacing="0">
    <tr>
        <th>Patient</th>
        <th>Room</th>
        <th>Bed</th>
        <th>Therapy</th>
        <th></th>
        
    </tr>
  
    <tr>
        <td>Milojko</td>
        <td>108</td>
        <td>1</td>
        <td>Detoksikacija vocem</td>
        <td>
            <button  class="discharge-button" (click)="discharge()">
                Discharge
            </button>
        </td>
        
    </tr> 
   
        
    
 </table>
</div>
