<div>
  <table>
    <tr><td>Start</td><td><input type="date" matInput [(ngModel)]="request.start"/></td></tr>
    <tr><td>End</td><td><input type="date" matInput [(ngModel)]="request.end"/></td></tr>
    <tr><td>Description</td><td><input type="text" matInput [(ngModel)]="request.description"/></td></tr>
    <tr><td></td><td><button mat-stroked-button (click)="createRequest()">Send</button></td></tr>
  </table>

  <show-appointments-urgent-vacation *ngIf="showAppsNull" [prika]="prika" 
  [appsList]="appsList"
  ></show-appointments-urgent-vacation>
</div>