<div class="container">
    <div>
        <table>
            <tr>
                <td>
                    <label>Amount of blood needed</label>
                </td>
                <td>
                    <input type="number" id="amount" Input [(ngModel)]="createBloodRecordDTO.amount"/>
                </td>
                <td *ngIf="amountNull">
                    Amount cannot be zero or minus
                </td>
            <tr>
                <td>
                    <label>Blood type</label>
                </td>
                <td>
                    <select matNativeControl id="type" name="type"[(ngModel)]="createBloodRecordDTO.type">
                        <option>A</option>
                        <option>B</option>
                        <option>AB</option>
                        <option>O</option>
                    </select>
                </td>
                <td *ngIf="typeNull">
                    Choose type
                </td>
            </tr>
            <tr>
                <td>
                    Reason
                </td>
                <td >
                    <input class="reason" id="reason" type="text" matInput [(ngModel)]="createBloodRecordDTO.reason"/>
                </td>
                <td *ngIf="reasonNull">
                    Write reason
                </td>
            </tr>
            <tr>
                <td></td>
                <td><button id="button" mat-stroked-button (click)="createBloodRecord()">
                    Submit
                </button></td>
            </tr>
        </table>
    </div>
</div>