<div class="container">
    <div>
        <table>
            <tr>
                <td>
                    <label>Amount of blood needed</label>
                </td>
                <td>
                    <input type="number"/>
                </td>
            <tr>
                <td>
                    <label>Blood type</label>
                </td>
                <td>
                    <select>
                        <option>A</option>
                        <option>B</option>
                        <option>AB</option>
                        <option>O</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Reason
                </td>
                <td >
                    <input class="reason" type="text"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><button mat-stroked-button (click)="createBloodRecord()">
                    Submit
                </button></td>
            </tr>
        </table>
    </div>
</div>