<div class="container">
    <div  id="content" #content>
        <h2>Update</h2>
        <form #updateForm="ngForm" (ngSubmit)="onPatientUpdate(updateForm.value)">
            <label>Treatment id</label>
            <input type="text" name="treatmentId" ngModel disabled>
            <br>
            <label>Patient     </label>
            <input type="text" name="patientId" ngModel disabled>
            <br>
            <label>Room      </label>
            <input type="text" name="room" ngModel >
            <br>
            <label>Bed       </label>
            <input type="text" name="bed" ngModel >
            <br>
            <br>
            <label>Therapy     </label>
            <input type="text" name="therapy" ngModel >
            <br>
            <br>
            <label>Start       </label>
            <input type="date" name="startDate" ngModel disabled>
            <br>
            
            <input type="submit" value="Update">
        </form>
    </div>
</div>
