<mat-toolbar color="primary">
  <button class="button" mat-button (click)="DoctorHomeClick()">Home</button>
  <button class="button" mat-button (click)="AppointmentsClick()">Appointments</button>
  <button class="button" mat-button (click)="PatientsClick()">Patients</button>
  <button class="button" mat-button (click)="VacationClick()">Vacation Request</button>
  <button class="button" mat-button (click)="BloodRequestClick()">Blood Request</button>
  <div class="spacer"></div>
  <button class="button" mat-button (click)="LogOutClick()">Log Out</button>
</mat-toolbar>
