<div class = "container">
    <div>
        <table>
            <tr>
                <td>
                    <label>Topic:</label>
                </td>
                <td>
                    <input type="text" id="topic" matInput [(ngModel)]="freeAppointments.Topic">
                </td>
            <tr>
                <td>
                    <label>Start date:</label>
                </td>
                <td>
                    <input type="datetime" id="start" matInput [(ngModel)]="freeAppointments.StartStr" placeholder="dd/mm/yyyy hh:mm">
                </td>
            </tr>
            <tr>
                <td>
                    <label>End date:</label>
                </td>
                <td>
                    <input type="datetime" id="end" matInput [(ngModel)]="freeAppointments.EndStr" placeholder="dd/mm/yyyy">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Duration: </label>
                </td>
                <td>
                    <input type="text" id="duration" matInput [(ngModel)]="freeAppointments.Duration">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="radioDoctors">Choose by all doctors</label>
                </td>
                <td>
                    <input type="radio" name="radio" id="radioDoctors" value="Doctors"  [(ngModel)]="freeAppointments.DoctorIds"  (change)="isClicked = true" checked>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="radioSpecialities">Choose doctors by specialities: </label>
                </td>
                <td>
                    <input type="radio" name="radio" id="radioSpecialities" value="Specialities" [(ngModel)]="freeAppointments.Specialties"  (change)="isClicked = false" >
                </td>
            </tr>
        </table>
    </div>
    <div>
        <div *ngIf="isClicked">
            <p>Selected doctors:</p>
            <ul *ngFor="let doctor of selectedDoctors">
                <li>
                    {{doctor}}
                </li>
            </ul>
        </div>
        
    </div>
    <div cellspacing="0">
        <table *ngIf="isClicked" class="listed">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th></th>
                <th></th>
            </tr>
            <tr ion-item *ngFor="let doc of allDoctors">
                <td>{{doc.id}}</td>
                <td>{{doc.name}}</td>
                <td>{{doc.surname}}</td>
                <td>
                    <button class="select-button" name="button1" id="selectedDoctor"(click)="selectedDoctor(doc.id)">Select</button>
                </td>
                <td>
                    <button  class="cancel-button" name="button2" id="cancelledDoctor" (click)="cancelledDoctor(doc.id)">
                        Cancel
                    </button>
                </td>
        </table>
        <table *ngIf="!isClicked">
          <tr>
            <th>Specialities</th>
          </tr>
          <tr *ngFor="let item of specialities" id="specialities">
            <td><input type="checkbox" name="selectedSpec" id="selectedSpec" [(ngModel)]="item.isChecked" (change)="specialitiesIDs()">{{item.name}}</td>
          </tr>
        </table>
    </div>
    <div>
        <button type="submit" id="findAppointments" name="button" (click)="findAppointments()" (click)="showAppointments = true">Find appointments</button>
    </div>
    <div>
        <table *ngIf="showAppointments" class="listed">
            <tr>
                <th>Start Time</th>
                <th>Room</th>
            </tr>
            <tr *ngFor="let app of potentialAppointments" id="potentialAppointments">
                <td>{{app.start}}</td>
                <td>Consilium Room</td>
                <td><button class="select-appointment" name="button3" id="selectedAppointment" (click)="selectedAppointment(app)">Select</button></td>
            </tr>
        </table>
        <button *ngIf="showAppointments" id="create" (click)="createConsilium()">Create</button>
    </div>
</div>


