.container {
  width: 50%;
  margin: auto;
  margin-top: 50px;
  border-style: ridge;
  border-width: 5px;
  border-color: rgb(11, 26, 62);
  background-color: rgb(230, 243, 255);
}

table {
  width: 100%;
  background-color: rgb(230, 243, 255);
}

.table-title {
  padding-bottom: 20px;
  padding-top: 30px;
  padding-left: 20px;
  font-size: 30px;
  font-family: Calibri;
  font-weight: bold;
}

.cell-style {
  text-align: center;
  font-family: Calibri;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.column-header {
  text-align: center;
  font-family: Calibri;
  font-size: 22px;
}

.table-header {
  display: flex;
  text-align: center;
  color: dimgray;
}

p {
  float: left;
  margin-right: auto;
}

th {
  color: dimgray;
  font-family: Calibri;
  font-weight: bold;
  border-style: none;
}

tr.mat-row:hover {
  background-color: lightgrey;
}

td.mat-cell {
  border-bottom-style: none;
  border-top: 1px ridge darkgray;
}

th.mat-header-cell {
  border-bottom-style: none;
}

